body{
	font-size: 16px;
	font-family: 'Jura', sans-serif;
	font-weight: 300;
}

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}

/*--layout--*/											 

	body{
		display: grid;
		grid-template-areas: 
			"fejlec"
			"kontent"
			"lablec"
		;
		grid-template-columns: 1fr;
		grid-template-rows: max-content 1fr max-content;
		min-height: 100vh;
		position: relative;
	}

	header{
		grid-area: fejlec;
		/*background-color:#ffcdb2;*/
		
	}

	main{
		grid-area: kontent;
		/*background-color:#ffb4a2;*/
		
		
	}
	footer{
		grid-area: lablec;
		/*background-color:grey;*/
		

	}
	.menuclass{
		grid-area: menu;
		/*background-color:#b5838d;*/
		
	}

	.telefon{
		display: grid;
		grid-template-columns:1fr;
		grid-template-areas: 
			"fejlec"
			"kontent"
			"lablec"
		;		
	}

	@media only screen and (min-width: 480px){
		.telefon{
			display: grid;
			grid-template-columns: 1fr;
			/*min-content, max-content*/
			grid-template-areas: 
				"fejlec"
				"kontent"
				"lablec"
			;
		}
	}

/*--layout end--*/

/*--azonos_header--*/
	
	.headerclass{
  		overflow: auto;
  		background-color: #000000;
  		position: sticky;
  		top: 0;
	}

	.header_bal{
		color: #ffffff;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 30px;
		font-size: 18px;
		font-family: 'Julius Sans One', sans-serif;
		display: inline-block;
		min-width: max-content;
		
	}

	.header_jobb {
		float: right;
		display: block; 
		text-align: left;
    	margin-top: 13px;
  		margin-right: 30px;


	}

	.header_jobb img{
		max-height: 3rem;

	}

	.header_jobb {
    	border: 0px solid #ffffff;
    }

    

/*--azonos_header_end--*/

/*--main--*/

	.mainclass01{
		background-image: url(keleti_mezmadar.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		height: 1700px;
	}

	.mainclass02{
		background-image: url(white_background.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		height: 690px;
		


	}

	.navigacio{
  		display: inline block;
  		color: black;
  		position: sticky;
  		top: 0;
  	}

  	.aktiv{
  		font-weight: bold;
  	}

  	.passziv01:hover{
		color: #ffffff;
		transition: .4s;
		text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 0px 0px 5px #000000;
	}

	.passziv02:hover{
		color: #ffffff;
		transition: .4s;
		text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 0px 0px 5px #000000;
	}

	.passziv03:hover{
		color: #ffffff;
		transition: .4s;
		text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 0px 0px 5px #000000;
	}
	
	.passziv04:hover{
		color: #ffffff;
		transition: .4s;
		text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 0px 0px 5px #000000;
	}


	.passziv01 {
  		color: black;
  		float: left;
  		display: inline block;
  		text-align: center;
  		padding: 14px 16px;
  		font-size: 25px;
  		font-family: 'Righteous', cursive;
  		margin-top: 23px;
  		margin-left: 25px 	
  	}
  	
  	.passziv02{
  		float: left;
  		display: inline block;
  		color: black;
  		text-align: center;
  		padding: 14px 16px;
  		font-size: 25px;
  		font-family: 'Righteous', cursive;
  		margin-top: 23px;
  		margin-left: 30px 	

  	}

  	.passziv03{
  		float: left;
  		display: inline block;
  		color: black;
  		text-align: center;
  		padding: 14px 16px;
  		font-size: 25px;
  		font-family: 'Righteous', cursive;
  		margin-top: 23px;
  		margin-left: 50px	


  	}

  	.passziv04{
  		float: left;
  		display: inline block;
  		color: black;
  		text-align: center;
  		padding: 14px 16px;
  		font-size: 25px;
  		font-family: 'Righteous', cursive;
  		margin-top: 23px;
  		margin-left: 50px	

  	}

 	 p span {
 		color: #ffffff;
 		font-size: 25px;
 		display: inline-block;
 		margin-top: 120px;
 		margin-left: 1050px; 
 		margin-right: 0px;
 		padding-bottom: 15px;
 		padding-right: 110px;
 		border-bottom: 5px solid black;

 	}

 	a span {
 		color: #ffffff;
 		font-size: 60px;
 		display: inline-block;
 		margin-top: 180px;
 		margin-left: 0px; 
 		margin-right: 1050px;
 		padding-bottom: 15px;
 		padding-left: 100px;
 		border-bottom: 5px solid black;
 		
	}

	.mezmadar {
		color: #ffffff;
		font-size: 15px;
		margin-left: 0px;
		margin-top: 600px;
		margin-right: 1150px;
		font-weight: bold;
		padding-bottom: 8px;
		padding-left: 150px;
 		border-bottom: 3px solid black;



	}

	.kapcsolatmain img{
		max-width: 50rem;
		max-height: 37rem;
		margin-right: 30px;
		margin-top: 0px; 
		float: right;
	}

	.kapcsolatszoveg{
		margin-top: 100px;
		font-size: 36px;
		color: black;
  		float: left;
  		display: inline block;
  		text-align: center;
  		padding: 14px 16px;
  		margin-left: 200px; 	
	}

	/*.kepek_flex_racs{
		display: flex;
		flex-wrap: wrap;
		margin-left: 1rem;
	}
	.kepek_flex_racs .kep_kartya{
		flex-grow: 1;
		margin-right: 1rem;
		margin-bottom: 1rem;*/
	}
	.kep{
		height: 200px;
		background-color: rgba(0,0,0,.03); 
		text-align: center;
	}
	.kep_kartya	.kep img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	.kep_kartya	.kep:hover{
		-webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);
			-moz-box-shadow:    0 2px 12px 0 rgba(0,0,0,.3);
			box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);    
		
	}
	/*.kep_kartya p{
		font-size: 0.75rem;
		padding-top: .4rem;
	}
	.kep_kartya span{
		font-size: 0.68rem;
	}*/


/*--main end--*/

/*--azonos footer--*/

	.footerclass{
		background-color: black;
		color: white;
	}

	.footer01{
		font-size: 13px;
		font-family: 'Julius Sans One', sans-serif;
		display: inline-block;
		min-width: max-content;
		margin-left: 30px;
		margin-top: 50px; 
	}

	.footer02{
		font-size: 13px;
		float:right;
		margin-right: 35px;
		margin-top: 30px;
		margin-bottom: 30px;
		font-family: 'Julius Sans One', sans-serif;
		display: inline-block;
		min-width: max-content;
	}

/*--azonos footer end--*/

