body{
	font-size: 16px;
	font-family: 'Jura', sans-serif;
	font-weight: 300;
}

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}

a:link {​​​​
  text-decoration: none;
}​​​​

/*--layout--*/											 

	body{
		display: grid;
		grid-template-areas: 
			"fejlec"
			"kontent"
			"lablec"
		;
		grid-template-columns: 1fr;
		grid-template-rows: max-content 1fr max-content;
		min-height: 100vh;
		position: relative;
	}

	header{
		grid-area: fejlec;
		
		
	}

	main{
		grid-area: kontent;
		
		
		
	}
	footer{
		grid-area: lablec;
		
		

	}
	.menuclass{
		grid-area: menu;
		
		
	}

/*--layout end--*/

/*--azonos_header--*/
	
	.headerclass{
  		overflow: auto;
  		background-color: #000000;
  		position: sticky;
  		top: 0;
	}

	.header_bal{
		color: #ffffff;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 30px;
		font-size: 18px;
		font-family: 'Julius Sans One', sans-serif;
		display: inline-block;
		min-width: max-content;
		
	}

	.header_jobb {
		float: right;
		display: block; 
		text-align: left;
    	margin-top: 13px;
  		margin-right: 30px;


	}

	.header_jobb img{
		max-height: 3rem;

	}

	.header_jobb {
    	border: 0px solid #ffffff;
    }

    @media only screen and (max-width: 600px){
	    .header_jobb {
			display: block; 
	    	margin: 1em;
	    	text-align: center;
		}

		.header_bal{
			color: #ffffff;
			margin: 1em;
			font-size: 18px;
			font-family: 'Julius Sans One', sans-serif;
			display: block;
			min-width: max-content;
		}
		.headerclass{
	  		overflow: auto;
	  		background-color: #000000;
	  		position: sticky;
	  		top: 0;
	  		text-align: center;
		}
    }

    

/*--azonos_header_end--*/

/*--main--*/



	.mainclass01{
		background-image: url(keleti_mezmadar.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: center;
		height: 2000px;
		overflow: hidden;
	}

	.mainclass02{
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: white;
		width: 100%;
		overflow: hidden;
	}

	.mainclass03{
		background-color: white;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover
		width: 100%;
		overflow: hidden;
		
	}

	.navigacio{
  		color: black;
  		position: fixed;
  		top: 0
  		text-align: left;
  		text-decoration: none;
  		

  	}

  	.aktiv{
  		font-weight: bold;
  	}

  	.passziv:hover{
		color: #ffffff;
		transition: .4s;
		text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 0px 0px 5px #000000;
	}

	
	.passziv{
  		display: inline-block;
  		text-decoration: none;
  		color: black;
  		text-align: center;
  		padding: 14px 16px;
  		font-size: 1.8em;
  		font-family: 'Righteous', cursive;
  		margin: 1em 0 0 2em;	

  	}

  	@media only screen and (max-width: 1045px){
  		.navigacio{
	  		color: black;
	  		position: sticky;
	  		top: 0
	  		text-decoration: none;
	  		text-align: center;  
	  	}
	  	.passziv{
	  		display: block;
	  		color: black;
	  		text-align: center;
	  		padding: 14px 16px;
	  		font-size: 1.8em;
	  		font-family: 'Righteous', cursive;
	  		margin: 1em;	
		}



  	}

 	.intoszoveg {
 		color: #ffffff;
 		font-size: 25px;
 		float: right;
 		margin-top: 410px;	 
 		width: 30%;
 		padding-bottom: 15px;
 		padding-right: 110px;
 		border-bottom: 5px solid black;

 	}

 	.mezmadar {
		color: white;
		display: inline-block;
		margin-top: 96.5rem;
		padding-left: 8rem;
		font-size: 2rem;
		border-bottom: 0.2rem solid black;


	}

 	@media only screen and (max-width: 1045px){
 		.intoszoveg {
	 		color: #ffffff;
	 		font-size: 25px;
	 		float: unset;
	 		margin-top: 120px; 
	 		width: 100%;
	 		padding-bottom: 15px;
	 		margin-left: 2em;
	 		border-bottom: 5px solid black;
	 	}


		.mezmadar {
		color: white;
		display: inline-block;
		margin-top: 55.5rem;
		padding-left: 8rem;
		font-size: 2rem;
		border-bottom: 0.2rem solid black;
		}
	}

 	.intocim {
 		color: white;
		display: inline-block;
		margin-top: 6.5rem;
		margin-right: 140rem;
		padding-left: 8rem;
		font-size: 3rem;
		border-bottom: 0.3rem solid black;
 		
	}

	.kapcsolatmain img {
		display: inline-block;
		max-width: 50rem;
		max-height: 34.5rem;
		margin: 6rem;
		float: right;
	}

	@media only screen and (max-width: 1560px){
		.kapcsolatmain img {
			display: block;
			max-width: 50rem;
			max-height: 34.5rem;
			margin: 6rem auto;
			float: unset;
		}
	}

	.altalanoscim{
		display: inline-block;
		margin-top: 6.5rem;
		margin-right: 20rem;
		padding-left: 8rem;
		font-size: 3rem;
		border-bottom: 0.2rem solid black;

	}

	.kapcsolatszoveg { 
		margin-top: 100px;
		font-size: 36px;
		color: black;
  		float: left;
  		display: inline-block;
  		text-align: left;
  		padding: 14px 16px;
  		margin-left: 200px; 	
	}

	.kepek_flex_racs {
		display: flex;
		flex-wrap: wrap;
		margin-left: 1rem;
		margin-top: 7rem;

	}
	.kepek_flex_racs .kep_kartya {
		flex-grow: 1;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
	.kep {
		height: 20rem;
		background-color: rgba(0,0,0,0); 
		text-align: center;
	}
	.kep_kartya	.kep img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	.kep_kartya	.kep:hover 	{
		-webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);
			-moz-box-shadow:    0 2px 12px 0 rgba(0,0,0,.3);
			box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);    
		
	}
	.kep_kartya p {
		font-size: 1rem;
		padding: 2rem;
		text-align: center;
		text-decoration: none;
		color: black;
		font-weight: bold;


	}

	.kapcsolatszoveg { 
		margin-top: 100px;
		font-size: 36px;
		color: black;
  		float: left;
  		display: inline-block;
  		text-align: left;
  		padding: 14px 16px;
  		margin-left: 200px; 	
	}

	.weboldalszoveg01 { 
		margin-top: 1.2rem;
		font-size: 1.7rem;
		color: black;
  		display: inline-block;
  		text-align: center;
  		padding: 3rem;
  		 	
	}

	.weboldalszoveg02 { 
		margin-bottom: 1.2rem;
		font-size: 1.7rem;
		color: black;
  		display: inline-block;
  		text-align: center;
  		padding: 3rem;
  		 	
	}


/*--main end--*/

/*--azonos footer--*/

	.footerclass{
		background-color: black;
		color: white;
		z-index: 5;
		display: inline-block;
		width: 100%;


	}

	.footer01{
		font-size: 13px;
		font-family: 'Julius Sans One', sans-serif;
		min-width: max-content;
		padding: 4em;
		float: left; 
	}

	.footer02{
		font-size: 13px;
		padding: 2em;
		font-family: 'Julius Sans One', sans-serif;
		min-width: max-content;
		float: right;
	}

/*--azonos footer end--*/

